name: Auto Update v2rayfree

on:
  schedule:
    - cron: '* */5 * * *'
  workflow_dispatch: 

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Update timestamp and content
      run: |
        sed -i "s/[0-9]\{4\}-[0-9]\{2\}-[0-9]\{2\}/$(date +%Y-%m-%d)/g" README.md  
        curl -s https://raw.githubusercontent.com/aiboboxx/v2rayfree/main/v120251224 > v2ray.txt

    - name: Commit changes
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add README.md v2ray.txt
        git commit -m "自动更新: $(date +'%Y-%m-%d %H:%M')"
        git push

    - name: Delete workflow runs  
      uses: Mattraks/delete-workflow-runs@main  
      continue-on-error: true  
      with:  
        retain_days: 0  
        keep_minimum_runs: 0 
